@model WowApplication.Models.DonjonViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MoreCss
{
    @Styles.Render("~/Bundle/cssDonjons")
}
@{ 
    ViewBag.Title = "Donjons et raids";
    ViewBag.Image = "../../Static/Images/header_donjons.jpg";
}



<div class="body-donjons">   

    <main>
        <div class="flex section-filter">
            <button class="flex btn-filter">
                <img src="~/Static/SVG/filter.svg" alt="" />
                <span class="filtrer">Filtrer</span>
            </button>
            <div class="filters d-none">
                <!-- FILTRE ZONE -->
                <div>
                    <p>Zones</p>
                    <select id="zone-select">
                        <option value="touszones">Toutes les zones</option>
                        <option value="pandarie">Pandarie</option>
                        <option value="kalimdor">Kalimdor</option>
                        <option value="royaumeEst">Royaumes de l'Est</option>
                        <option value="norfendre">Norfendre</option>
                        <option value="outreterre">Outreterre</option>
                        <option value="zandalar">Zandalar</option>
                        <option value="kulTiras">Kul Tiras</option>
                        <option value="ombreterre">Ombreterre</option>
                    </select>
                </div>
                <!-- FILTRE TYPE -->
                <div>
                    <p>Type</p>
                    <select id="type-select">
                        <option value="toustypes">Tous les types</option>
                        <option value="donjon">Donjon</option>
                        <option value="raid">Raid</option>
                    </select>
                </div>
                <!-- FILTRE BUTINS -->
                <div class="butins-select">
                    <p>Butins</p>
                    <select id="type-select">
                        <option value="tousbutins">Tous les butins</option>
                        <option value="monture">Monture</option>
                        <option value="pet">Pet</option>
                    </select>
                    <img class="search-filter" src="~/Static/SVG/search_filter.svg" alt="">
                </div>
            </div>
        </div>
        <button class="refresh"><i class="fas fa-sync-alt"></i></button>
        <div class="flex flex-wrap justify-around">
            @foreach (WowApplication.Models.InstanceModel item in Model.InstanceModels)
            {
                <a href="/Home/Loot/@item.Id">

                    <div id="@item.Id" class="donjon lg:w-1/6 md:w-1/4 w-1/2"
                         style="background-image: url(@item.Media);">
                        <div class="modal-donjon">
                            <p class="type-inst">@item.Type</p>
                            <p>@item.Name</p>
                        </div>

                    </div>
                </a>
            }

        </div>
    </main>


</div>
