@model WowApplication.Models.LootViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MoreCss
{
    @Styles.Render("~/Bundle/cssLoot")
}
@section Wowhead
{
    <script>
        const whTooltips = {
            colorLinks: true,
            iconizeLinks: false,
            renameLinks: false,
        };
    </script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
}

<div class="body-loot">
    <header>
        <div class="header-img"
             style="background-image: url(@Model.InstanceModel.Media)"></div>
        <nav class="flex justify-between">
            <div class="flex">
                <select id="type-select">
                    <option value="boss">Trier par : Boss</option>
                    <option value="butin">Trier par : Butin</option>
                </select>
            </div>
            <div class="donjon-name uppercase">@Model.InstanceModel.Name</div>
            <div class="flex connection">
                <span class="span-connection">Se connecter</span>
                <img src="/Static/SVG/connection.svg"
                     class="icon-connection"
                     alt="" />
            </div>
        </nav>
    </header>
    <main class="flex">
        <!-- MENU GAUCHE -->
        <section class="menu-left"></section>
        <!-- CONTAINER MIDDLE -->
        <section class="container-middle" style="background-image: url(/Static/Images/citadelle_couronne_glace2.png)">
            <!-- description -->
            <!-- div flex avec la video et les petites cartes -->
            <div class="flex sect-descr">
                <img class="plume" src="/Static/Images/kisspng-paper-quill-drawing-inkwell-pen-5b1564117b19f0.0396149115281285295042.png" alt="" />
                <p class="descr-instance">@Model.InstanceModel.Description<p>
            </div>
            <div class="flex flex-wrap sect-video">
                <iframe class="video"
                        width="440"
                        height="255"
                        src="https://www.youtube.com/embed/TBxqYBYSrUw"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <!-- Cartes localisation et butins -->
                <div>
                    <div class="flex localisation">
                        <img class="img-loc"
                             src="/Static/Images/map_977539.jpg"
                             alt="" />
                        <label for="">
                            <h3>Localisation</h3>
                            <span>@Model.InstanceModel.Location</span><br />
                            <span>>Voir la carte&#60;</span>
                        </label>
                    </div>
                    <div class="flex butins">
                        <img class="img-but" src="/Static/Images/butins.jpg" alt="" />
                        <label for="">
                            <h3>Butins</h3>
                            <span><strong>1</strong> monture</span><br />
                            <span><strong>2</strong> mascottes</span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Section boss / loot -->

            @foreach (WowApplication.Models.EncounterModel item in Model.EncounterModels)
            {
                //foreach (WowApplication.Models.ItemModel itemModel in Model.ItemModels)
                //{

                //}
                <h2 class="boss-name">@item.Name</h2>
                <div class="flex flex-wrap">
                    <div class="mount" style="background-image: url(/Static/Images/serpent-nuage-astral.png);">
                        <h3>Serpent nuage astral</h3>
                        <div class="modal-loot d-none"><img class="checked" src="/Static/SVG/checked.svg" /></div>

                    </div>
                    <div class="mount" style="background-image: url(/Static/Images/serpent-nuage-astral.png);">
                        <h3>Serpent nuage astral</h3>
                        <div class="modal-loot d-none"><img class="checked" src="/Static/SVG/checked.svg" /></div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="pet" style="background-image: url(/Static/Images/phenix-royal.png);">
                        <h3>Phénix royal</h3>
                        <div class="modal-loot d-none"><img class="checked" src="/Static/SVG/checked.svg" /></div>
                    </div>
                    <div class="pet" style="background-image: url(/Static/Images/jeune-sabre-fantomatique.png);">
                        <h3>Jeune sabre fantomatique</h3>
                        <div class="modal-loot d-none"><img class="checked" src="/Static/SVG/checked.svg" /></div>
                    </div>
                    <div class="pet" style="background-image: url(/Static/Images/chien-fantomatique.png);">
                        <h3>Chien fantomatique</h3>
                        <div class="modal-loot d-none"><img class="checked" src="/Static/SVG/checked.svg" /></div>
                    </div>
                </div>
                <div class="flex flex-wrap sect-items">
                    <div class="flex sect-item">
                        <img class="icon-item" src="/Static/Images/icon_bow.jpg" />
                        <a href="https://fr.wowhead.com/item=27526"
                           data-wowhead="item=27526"
                           class="infos-item">Arc Faucon Arc Faucon Arc FauconArc Faucon</a>
                    </div>
                    <div class="flex sect-item">
                        <img class="icon-item" src="/Static/Images/icon_bow.jpg" />
                        <a href="https://fr.wowhead.com/item=27526/arc-faucon-br%C3%BBleciel?bonus=6710"
                           data-wowhead="item=27526"
                           class="infos-item">Arc Faucon</a>
                    </div>
                    <div class="flex sect-item">
                        <img class="icon-item" src="/Static/Images/icon_bow.jpg" />
                        <a href="https://fr.wowhead.com/item=27526/arc-faucon-br%C3%BBleciel?bonus=6710"
                           data-wowhead="item=27526"
                           class="infos-item">Arc Faucon</a>
                    </div>
                    <div class="flex sect-item flex-wrap">
                        <img class="icon-item" src="/Static/Images/icon_bow.jpg" />
                        <a href="https://fr.wowhead.com/item=27526/arc-faucon-br%C3%BBleciel?bonus=6710"
                           data-wowhead="item=27526"
                           class="infos-item">Arc Faucon</a>
                    </div>
                    <div class="flex sect-item">
                        <img class="icon-item" src="/Static/Images/icon_bow.jpg" />
                        <a href="https://fr.wowhead.com/item=27526/arc-faucon-br%C3%BBleciel?bonus=6710"
                           data-wowhead="item=27526"
                           class="infos-item">Arc Faucon</a>
                    </div>

                </div>
            }


        </section>
        <!-- MENU DROITE -->
        <section class="menu-right"></section>
    </main>

    <footer>
        <a href="/Home/Donjons" class="retour-donjons">> Retour à la page des donjons &#60;</a>
    </footer>


</div>
