<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("MoreCss", false)

    @Styles.Render("~/Bundle/cssBase")


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Static/Images/icon-wow.png">
    <title>Wow Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">



    <link href="https://unpkg.com/tailwindcss%40%5E2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
    <!-- MODAL CONNECTION -->
    <section class="modal d-none">
        <div class="inter-modal">
            <h2>Welcome back!</h2>
            <p class="dark-p">Sign in to your account</p>
            <p class="flex email">
                <span>Email</span>
                <input type="text" />
            </p>
            <p class="flex password">
                <span>Password</span>
                <input type="text" />
            </p>
            <button>Continue</button>
            <p>
                <span class="dark-p">Don't have an account ? </span><span>Sign up</span>
            </p>
            <img class="close" src="/Static/SVG/close.svg" alt="" />
        </div>
    </section>

    @Scripts.Render("~/bundles/script")
    @RenderSection("Wowhead", false)




</body>
</html>
